/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.spacer {
  flex: 1 1 auto;
}

.max-width-card {
  max-width: 200px;
}
